<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSr_eS_Td9mjHInLKpPqN3Z_k486QwRgI</string>
	<key>GCM_SENDER_ID</key>
	<string>211691346096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nurviq.lampex</string>
	<key>PROJECT_ID</key>
	<string>chicken-habit-garden</string>
	<key>STORAGE_BUCKET</key>
	<string>chicken-habit-garden.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211691346096:ios:bbd928bffe992019414375</string>
</dict>
</plist>